:root {
  font-family: system-ui, sans-serif;
  color: #f8fafc;
  background: #020d1f;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #020d1f;
}

#app {
  min-height: 100vh;
}
